<!DOCTYPE html>
<html>

<head>
</head>
<body onload="renderCanvas('testCanvas');">

<!--End Nav-->
<canvas id="testCanvas"></canvas> 
<script>
	function max(arr) {
		var max = parseFloat(arr[3]);
		for(let i = 5;i<arr.length;i+=2)
			if(!(isNaN(parseFloat(arr[i])))&&parseFloat(arr[i])>max)
				max=parseFloat(arr[i]);
		return max;
	}
	
	function min(arr) {
		var min = parseFloat(arr[3]);
		for(let i = 5;i<arr.length;i+=2)
			if(!(isNaN(parseFloat(arr[i])))&&parseFloat(arr[i])<min)
				min=parseFloat(arr[i]);
		return min;
	}

	function plot(canvas, ctx, data) {
    const MAX_Y_AXIS_LABELS = 10;

		var nineTenthsHeight = (canvas.height*9)/10;
		var oneTenthHeight = nineTenthsHeight/9;
		var nineTenthsWidth = (canvas.width*9)/10;
		var oneTenthWidth = nineTenthsWidth/9;
		
		ctx.fillStyle = "#000000";
		
		//draw y-axis
		ctx.moveTo(oneTenthWidth, oneTenthHeight);
		ctx.lineTo(oneTenthWidth, nineTenthsHeight);
		ctx.stroke();
		
		//label y-axis
		ctx.fillText(data[1],oneTenthWidth, oneTenthHeight - 16);
		
		//draw x-axis
		ctx.moveTo(oneTenthWidth, nineTenthsHeight);
		ctx.lineTo(nineTenthsWidth, nineTenthsHeight);
		ctx.stroke();
		
		//label x-axis
		ctx.fillText(data[0],nineTenthsWidth, nineTenthsHeight + 16);


		var pointsToPlot = (data.length - 2)/2;
		var widthChange = (nineTenthsWidth - oneTenthWidth)/pointsToPlot;
		var maximum = max(data);
		var minimum = min(data);
		var range = max - min;
		var heightTicks = 0;
    /*
		for(let i = MAX_Y_AXIS_LABELS;i>1;i--) {
			if(range!=i&&range%i==0) {
				heightTicks=i;
				break;
			}
		}
    */
		if(heightTicks==0)
			heightTicks=MAX_Y_AXIS_LABELS;
      
			
		var heightChange = (nineTenthsHeight - oneTenthHeight)/heightTicks;
		var valueChange = maximum/heightTicks;
		heightTicks++;
		
		var tickLength = Math.sqrt(canvas.height);
		for(let i = 0;i<heightTicks;i++) {
			ctx.moveTo(oneTenthWidth - (tickLength/2),oneTenthHeight+(i*heightChange));
			ctx.lineTo(oneTenthWidth + (tickLength/2),oneTenthHeight+(i*heightChange));
			ctx.stroke();
			ctx.fillText((maximum-(i*valueChange)).toFixed(2),oneTenthWidth - (tickLength/2) - 32,oneTenthHeight+(i*heightChange));
      //ctx.fillText(data[3+2*i],oneTenthWidth - (tickLength/2) - 32,oneTenthHeight+(i*heightChange));
		}
		
    ctx.font="8px Courier New";
		for(let i = 0;i<pointsToPlot;i++) {
			ctx.moveTo(oneTenthWidth + (i*widthChange),nineTenthsHeight - (tickLength/2));
			ctx.lineTo(oneTenthWidth + (i*widthChange),nineTenthsHeight + (tickLength/2));
			ctx.stroke();
			ctx.fillText(data[2+(2*i)],oneTenthWidth + (i*widthChange),nineTenthsHeight + (tickLength/2) + 32);
		}
		
		//move to origin
		ctx.moveTo(oneTenthWidth,nineTenthsHeight);
		
		//begin plotting
		ctx.fillStyle = "#FF0000";
		
		for (let i = 0; i<pointsToPlot; i++) {
			var yValue = ((parseFloat(data[3+(2*i)]))/maximum)*(nineTenthsHeight-oneTenthHeight);
			ctx.lineTo(oneTenthWidth + (i*widthChange), nineTenthsHeight - yValue);
			ctx.stroke();
			ctx.beginPath();
      ctx.arc(oneTenthWidth + (i*widthChange), nineTenthsHeight - yValue, 4, 0, 2 * Math.PI, false);
			ctx.fill();
		}
	}
	
	function renderCanvas(cvId) {
		const data = JSON.parse("{{data|escapejs}}");
		const canvas = document.getElementById(cvId);

		if(data.length==2||data.length%2!=0) {
			canvas.style.visibility = "hidden";
			return;
		}
			
		canvas.width=window.innerWidth;
		canvas.height=window.innerHeight;
		const ctx = canvas.getContext("2d");
		ctx.font = "16px Courier New";
		
		plot(canvas, ctx, data);
	}	
</script>

</body>
</html>