<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<!-- CSS only -->
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
			<!-- JavaScript Bundle with Popper -->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
		<title>Analytics Page</title>
	</head>
<body onload="draw();">

    <!--NavBar-->
    {% extends "base.html" %}
	{% block below %}
<canvas id="canvas1"></canvas> 
<canvas id="canvas2"></canvas> 
<script>
	function maxInt(arr) {
		var max = parseInt(arr[3]);
		for(let i = 5;i<arr.length;i+=2)
			if(!(isNaN(parseInt(arr[i])))&&parseInt(arr[i])>max)
				max=parseInt(arr[i]);
		return max;	
	}
	
	function minInt(arr) {
		var min = parseInt(arr[3]);
		for(let i = 5;i<arr.length;i+=2)
			if(!(isNaN(parseInt(arr[i])))&&parseInt(arr[i])<min)
				min=parseInt(arr[i]);
		return min;	
	}
	
	function max(arr) {
		var max = parseFloat(arr[3]);
		if isNaN(max)
			return maxInt(arr);
		for(let i = 5;i<arr.length;i+=2)
			if(!(isNaN(parseFloat(arr[i])))&&parseFloat(arr[i])>max)
				max=parseFloat(arr[i]);
		return max;
	}
	
	function min(arr) {
		var min = parseFloat(arr[3]);
		if isNaN(min)
			return minInt(arr);
		for(let i = 5;i<arr.length;i+=2)
			if(!(isNaN(parseFloat(arr[i])))&&parseFloat(arr[i])<min)
				min=parseFloat(arr[i]);
		return min;
	}

	function plot(canvas, ctx, data) {
    	const MAX_Y_AXIS_LABELS = 10;

		var nineTenthsHeight = (canvas.height*9)/10;
		var oneTenthHeight = nineTenthsHeight/9;
		var nineTenthsWidth = (canvas.width*9)/10;
		var oneTenthWidth = nineTenthsWidth/9;
		
		ctx.fillStyle = "#000000";
		
		//draw y-axis
		ctx.moveTo(oneTenthWidth, oneTenthHeight);
		ctx.lineTo(oneTenthWidth, nineTenthsHeight);
		ctx.stroke();
		
		//label y-axis
		ctx.fillText(data[1],oneTenthWidth, oneTenthHeight - 16);
		
		//draw x-axis
		ctx.moveTo(oneTenthWidth, nineTenthsHeight);
		ctx.lineTo(nineTenthsWidth, nineTenthsHeight);
		ctx.stroke();
		
		//label x-axis
		ctx.fillText(data[0],nineTenthsWidth, nineTenthsHeight + 16);


		var pointsToPlot = (data.length - 2)/2;
		var widthChange = (nineTenthsWidth - oneTenthWidth)/pointsToPlot;
		var maximum = max(data);
		var minimum = min(data);
		var range = max - min;
		var heightTicks =MAX_Y_AXIS_LABELS;
      
			
		var heightChange = (nineTenthsHeight - oneTenthHeight)/heightTicks;
		var valueChange = maximum/heightTicks;
		heightTicks++;
		
		var tickLength = Math.sqrt(canvas.height);
		for(let i = 0;i<heightTicks;i++) {
			ctx.moveTo(oneTenthWidth - (tickLength/2),oneTenthHeight+(i*heightChange));
			ctx.lineTo(oneTenthWidth + (tickLength/2),oneTenthHeight+(i*heightChange));
			ctx.stroke();
			ctx.fillText((maximum-(i*valueChange)).toFixed(2),oneTenthWidth - (tickLength/2) - 32,oneTenthHeight+(i*heightChange));
		}
		
    		ctx.font="12px Courier New";
		for(let i = 1;i<=pointsToPlot;i++) {
			ctx.moveTo(oneTenthWidth + (i*widthChange),nineTenthsHeight - (tickLength/2));
			ctx.lineTo(oneTenthWidth + (i*widthChange),nineTenthsHeight + (tickLength/2));
			ctx.stroke();
			ctx.fillText(data[2+(2*i)],oneTenthWidth + (i*widthChange),nineTenthsHeight + (tickLength/2) + 32);
		}
		
		//move to origin
		ctx.moveTo(oneTenthWidth,nineTenthsHeight);
		
		//begin plotting
		ctx.fillStyle = "#FF0000";
		
		for (let i = 0; i<pointsToPlot; i++) {
			var yValue = ((parseFloat(data[3+(2*i)]))/maximum)*(nineTenthsHeight-oneTenthHeight);
			ctx.lineTo(oneTenthWidth + (i*widthChange), nineTenthsHeight - yValue);
			ctx.stroke();
			ctx.beginPath();
      			ctx.arc(oneTenthWidth + (i*widthChange), nineTenthsHeight - yValue, 4, 0, 2 * Math.PI, false);
			ctx.fill();
		}
	}
	
	function renderCanvas(cvId, data) {
		const canvas = document.getElementById(cvId);

		if(data.length==2||data.length%2!=0) {
			canvas.style.visibility = "hidden";
			return;
		}
			
		canvas.width=window.innerWidth;
		canvas.height=window.innerHeight;
		const ctx = canvas.getContext("2d");
		ctx.font = "16px Courier New";
		
		plot(canvas, ctx, data);
	}
	function draw() {
		renderCanvas("canvas1",JSON.parse("{{data1|escapejs}}"));
		renderCanvas("canvas2",JSON.parse("{{data2|escapejs}}"));
	}
</script>

</body>
</html>
{% endblock %}
