<!DOCTYPE html>
<html>
<head>
	<title>Know Your A-PAX</title>
	<link rel="stylesheet" href="../bootstrap-5.2.1-dist/css/bootstrap.css">
	<link rel="stylesheet" href="../css/stylesheet.css">
  <script href="../js/scripts.js"></script>
</head>

<body onload="sessionStyleScript();">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="./dashboard.html">Know Your A-PAX</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <!--Home Button-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" id="navHome" href="./dashboard.html">Home</a>
        </li>
	     
       <!--Login Button-->
       <li class="nav-item">
          <a class="nav-link" class="debug" id="navLogin" href="./login.html">Login</a>
        </li>
       
       <!--Profile Button-->
        <li class="nav-item">
          <a class="nav-link" class="debug" id="navProfile" href="./profile.html">Profile</a>
        </li>
	      
        <!--Analystics Button-->
        <li class="nav-item">
          <a class="nav-link" id="navAnalytics" href="./analytics.html">Analytics</a>
        </li>
        

        <!-- Accordion-->
        <div class="accordion" id="accordionExample">
          <style>
      .accordion
      {
        background-color: #ffffff;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
      }
      
      .active, .accordion:hover
      {
        background-color: #eee;
      }
      
      .panel 
      {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
      }

      .label
      {
        content: 'v';
        color: black;
        position: absolute;
        top: 50%;
        right: -5px;
        font-size: 30px;
        transform: trasnlateY(-50%);
      }
        </style>
  
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Race #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables.
      </div>
    </div>
  </div>
  
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Race #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Race #3
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>
      </ul>
    </div>
  </div>
</nav>


</body>

</html>