<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This Could be the HomePage</h1>
    {% if user.is_authenticated %}
    <p> You are logged in</p>
    <p>Welcome: {{user.get_username}}</p>
    <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
    {%else%}
    <p>You are not logged in</p>
    <a href="{% url 'login'%}?next={{request.path}}">Login</a>
    {%endif%}
    
    
        {% for event,runs, pax_runs in all_data %}
            <p>{{event.date}} {{event.name}} {{event.location}}</p>
            <table border="1">
                <tr>
                    <th>Row #</th>
                    <th>Class</th>
                    <th>Car #</th>
                    <th>Driver Name</th>
                    <th>Class Pos</th>
                    <th>Raw Time</th>
                    <th>Pax Time</th>
                    
                </tr>           
            {% for run in runs %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{run.run_id.class_name}}</td>
                <td>{{run.run_id.car_num}}</td>
                <td>{{run.run_id.driver_name}}</td>
                <td>{{run.raw_class_position}}</td>
                <td>{{run.run_id.time}}</td>
                <td>{{run.pax_time}}</td>
                             
            </tr>
            {%endfor%} 
            </table> 
            <p>
                <table border="1">
                    <tr>
                        <th>Row #</th>
                        <th>Class</th>
                        <th>Car #</th>
                        <th>Driver Name</th>
                        <th>Class Pos</th>                        
                        <th>Pax Time</th>
                        <th>Successor Diff</th>
                        <th>First Diff</th>
                        
                    </tr>           
                {% for prun in pax_runs %}
                
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{prun.run_id.class_name}}</td>
                    <td>{{prun.run_id.car_num}}</td>
                    <td>{{prun.run_id.driver_name}}</td>
                    <td>{{prun.pax_class_position}}</td>                    
                    <td>{{prun.pax_time}}</td>
                    <td>{{prun.pax_diff_succesor}}</td>
                    <td>{{prun.pax_diff_first}}</td>
                                 
                </tr>
                
                {%endfor%} 
                </table>
            </p>                     
            -------------------------------------------------------------------------
            <br>
        {%endfor%}
        
    
</body>
</html>