<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="../bootstrap-5.2.1-dist/css/bootstrap.css">
	<link rel="stylesheet" href="../css/stylesheet.css">
</head>
<body>
	<h1>This is the login page</h1>
	<form name='loginForm' onsubmit="return validateForm();">
		<label for="username">Username:</label> 	
		<input type="text" id="username" name="username" required value="" /> <br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required value="" /> <br>
		
		<br><br><input type="submit" name="submit" value="Submit" />
	</form>
	<a class="debug" href="dashboard.html">Presume login success: go to Dashboard</a>

	
</body>
</html>